<div class="row" ng-controller="GroupsCtrl">
  <div class="col-xs-3">
    <h1>Groups</h1>
    <div class="list-group todo-group">
      <a href="#" class="list-group-item" ng-class="{ active: g.id === currentGroup.id }"
        ng-repeat="g in groups"
        ng-click="setCurrentGroup($event, g)">
        {{ g.name }}
      </a>

      <form ng-submit="addGroup($event)">
        <input type="text" class="form-control" ng-model="nextGroup"
          placeholder="Add new group...">
      </form>
    </div>
  </div>

  <div class="col-xs-6" ng-controller="TodosCtrl" ng-show="visible()">
    <h1>Todos</h1>
    <form ng-submit="addTodo($event)">
      <input type="text" class="form-control" ng-model="nextTodo.title"
        placeholder="Add new todo...">
    </form>

    <div class="panel panel-default">
      <p class="todo-filters-content">
        All: {{(todos).length}},
        Completed: {{(todos|filter:{complete: true}).length}}
      </p>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Todo to search...." ng-model="query">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>

        <table class="table">
          <thead></thead>
          <tbody class="todos">
            <tr ng-repeat="todo in todos | filter: { title: query }">
              <td ng-class="{complete: todo.complete}">
                <input type="checkbox" ng-click="toggleComplete($index, todo)"
                  ng-model="todo.complete">

                <form ng-submit="editTodo($event, $index, todo)" ng-show="todo.editable" >
                  <input type="text" class="editable" placeholder="{{todo.title}}"
                    ng-model="todo.title">
                </form>

                <span ng-show="!todo.editable">{{todo.title}}</span>
              </td>
    <!--  Q: how to make show link work here. -->
              <td>
                <%= link_to "", "#", ng_click: "toggleEditable($event, todo)",
                  class: "glyphicon glyphicon-pencil" %>
                <%= link_to "", "#", ng_click: "removeTodo($event, $index, todo)",
                  class: "glyphicon glyphicon-remove" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="debug-information panel panel-default">
      <div class="panel-heading">Debug Information</div>
      <div class="panel-body">
        <h6>todos</h6>
        <p class="text-info">{{ todos | json}}</p>
        <h6>group</h6>
        <p class="text-info">{{ group | json}}</p>
      </div>
    </div>
  </div>
</div>
